body {
    margin:50px 0px; padding:0px;
    text-align:center;
    align:center;
}/* Full-width inputs */
.textuser{
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.textpass
{ width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  }

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.password{
    width: auto;
    padding: 10px 18px;
    margin: 8px 0;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.login {
    width: auto;
    padding: 10px 18px;
    background-color: green;
}

